@import "bootstrap.less";
@import "variables.less";


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/Fl4y0QdOxyyTHEGMXX8kcVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/Fl4y0QdOxyyTHEGMXX8kcT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/IC_Dw3HJuHH__1Luo8iRGA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/Y5yuUJGDLtmYv2_3fMB4fA.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(http://fonts.gstatic.com/s/roboto/v15/oHi30kwQWvpCWqAhzHcCSFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/oHi30kwQWvpCWqAhzHcCSD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v15/isZ-wbCXNKAbnjo6_TwHTltXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/isZ-wbCXNKAbnjo6_TwHTj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}



body {
  font-weight: 300;
}
h1 {
  font-size: 26px;
  font-weight: 400;
  color: @brand-primary;
  text-transform: uppercase;
  letter-spacing: 7px;
}
@media (min-width: @screen-md-min) {
  h1 {
    font-size: 40px;
  }
}
h2 {
  font-size: 24px;
  font-weight: 700;
  color: #000;
}
.main-content {
  header, .navbar-links, section {
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media (min-width: @screen-sm-min) {
  .sidebar {
    padding-right: 0;
  }
}
.inner-container {
  padding: 0 15px;
}
footer {
  background: @brand-info;
  padding: 40px 0;
}
.logo {
  text-align: center;
  padding: 20px 0;
  background-color: #fff;
  margin-left: -20px;
}
.sidebar {
  background-color: #ff7245;
  nav {
    padding-top: 30px;
    background: @brand-warning;
    p {
      color: #fff;
      font-size: 18px;
      margin-left: 30px;
      padding: 0px;
    }
    ul.level_0 {
      padding: 0px;
      margin:0px;
      li {
        margin-left: 20px;
        margin-bottom: 20px;
        a {
          color: #fff;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
    ul.level_1 {
      margin-left: -20px;
      li {
        margin:0 0;

        padding: 10px 20px 10px 45px;
        &:hover {
          background: @brand-info;
          -webkit-transition: all 0.3s ease-in-out 0s;
          -moz-transition: all 0.3s ease-in-out 0s;
          -o-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
        }
        a {
          color: #fff;
          font-size: 16px;
          font-weight: normal;
        }
      }
    }
  }
}
.navbar {
  margin-bottom: 0;
}
.navbar-collapse {
  padding-top: 30px;
  padding-bottom: 20px;
  background: @brand-warning;
  p {
    color: #fff;
  }
  ul {
    li {
      &:hover {
        background: @brand-info;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        a {
          text-decoration: underline;
        }
      }
    }
  }
}
.navbar-toggle {
  background: @brand-warning;
  margin: 0 0 0 -15px;
}
@media (max-width: 380px) {
  .navbar-toggle {
    padding-left: 2px;
    padding-right: 2px;
  }
}
.navbar-links {
  height: 50px;
  background: @brand-info;
}
.xs-navbar-links, .sm-navbar-links {
  padding-top: 16px;
  height: 34px;
}
.xs-navbar-links {
  a {
    display: block;
  }
  .login-link {
    width: 18px;
    height: 15px;
  }
  .reg-link {
    width: 14px;
    height: 15px;
  }
}
.home-link {
  background: url(../images/home.png) no-repeat;
  display: block;
  width: 20px;
  height: 19px;
}
.search-link {
  background: url(../images/search.png) no-repeat;
  width: 17px;
  height: 16px;
}
.login-link {
  background: url(../images/login.png) no-repeat;
}
.reg-link {
  background: url(../images/reg.png) no-repeat;
}
@media (min-width: @screen-sm-min) {
  .sm-navbar-links {
    a {
      margin: 0 auto;
    }
  }
}
@media (min-width: @screen-md-min) {
  .sm-navbar-links {
    .login-link {
      padding-left: 28px;
      background-position: 0 3px;
    }
    .reg-link {
      padding-left: 24px;
      background-position: 0 2px;
    }
    .login-link, .reg-link {
      color: #fff;
      font-size: 16px;
      font-weight: 700;
    }
  }
}
.search {
  .navbar-form {
    margin: 0;
    input[type="text"] {
      border-radius: 0;
      border: none;
      box-shadow: none;
      width: 230px;
      height: 50px;
      background: #3f5a64;
    }
    button {
      background: url(../images/search.png) no-repeat;
      border: none;
      width: 17px;
      height: 16px;
      position: relative;
      left: -30px;
      top: -5px;
    }
  }
}
@media (min-width: @screen-md-min) {
  .search {
    .navbar-form {
      input[type="text"] {
        width: 300px;
      }
    }
  }
}
.main-promo {
  position: relative;
  img {
    width: 100%;
  }
  hr {
    background: #fff;
    width: 86px;
    height: 2px;
  }
}
.link-more {
  text-align: center;
}
.btn-more {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  font-size: 20px;
  font-weight: 700;
  padding-right: 36px;
  padding-left: 36px;
  &:hover, &:focus, &:active {
    color: #fff;
  }
}
.promo-text {
  position: absolute;
  bottom: 15%;
  left: 10%;
  right: 10%;
  p {
    text-align: center;
    color: #fff;
    font-size: 24px;
    line-height: 1.2;
    a {
      color: #fff;
    }
  }
}
@media (min-width: @screen-sm-min) {
  .promo-text {
    p {
      font-size: 30px;
    }
  }
  .btn-more {
    margin-top: 20px;
    text-align: center;
  }
}
@media (min-width: @screen-md-min) {
  .promo-text {
    p {;
      font-size: 36px;
    }
  }
  .btn-more {
    margin-top: 60px;
  }
}
.child-promo {
  padding-top: 20px;
  p {
    margin-left: 15px;
  }
}
.child-promo-header {
  position: relative;
  padding-left: 15px;
  margin-bottom: 30px;
  button {
    position: absolute;
    top: 0;
    right: 15px;
  }
}
.child-list {
  margin: 0;
}
.child-card-container {
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
  &:hover {
    .child-card {
      background: @brand-warning;
      -webkit-transition: all 0.2s ease-in-out 0s;
      -moz-transition: all 0.2s ease-in-out 0s;
      -o-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s;
      img, .child-main-info {
        visibility: hidden;
      }
    }
    .child-detail-info {
      visibility: visible;
    }
  }
}
.child-detail-info {
  position: absolute;
  top: 25px;
  left: 20px;
  right: 20px;
  height: 132px;
  overflow: hidden;
  visibility: hidden;
  color: #fff;
}
.child-card {
  position: relative;
}
.child-card-title {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  color: #fff;
  height: 103px;
}
.child-name {
  font-size: 30px;
}
.child-birthdate {
  font-size: 16px;
  font-weight: 700;
}
.child-card-more {
  position: relative;
  height: 73px;
  a {
    background: url(../images/more.png) no-repeat;
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: -30px;
    right: 30px;
  }
}
footer {
  color: #fff;
  font-size: 18px;
  a {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
  p {
    margin-bottom: 15px;
  }
  ul {
    li {
      margin-bottom: 15px;
    }
  }
}
.bold {
  font-weight: 700;
}
.show-more {
  background: @brand-info;
  padding: 23px 0;
  text-align: center;
  a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
  }
}
.article {
  padding: 30px 0 60px;
}
.article-header {
  margin-bottom: 20px;
  .nav-pills {
    li {
      height: 63px;
      margin-right: 60px;
      a {
        line-height: 63px;
        position: static;
        display: inline;
        padding: 0;
        border-radius: 0;
        color: @brand-info;
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
        border-bottom: 1px dotted;
      }
    }
    li.active {
      a {
        background: none;
        font-size: 26px;
        font-weight: 400;
        color: @brand-primary;
        text-transform: uppercase;
        letter-spacing: 7px;
        border-bottom: none;
        &:hover, &:focus, &:active {
          background: none;
          color: @brand-primary;
        }
      }
    }
  }
}
@media (min-width: @screen-md-min) {
  .article-header {
    .nav-pills {
      li.active {
        a {
          font-size: 40px;
        }
      }
    }
  }
}
.article-menu {
  margin-bottom: 40px;
  ul {
    margin-left: -15px;
    li {
      text-align: center;
      float: left;
      height: 33px;
      line-height: 33px;
      border-radius: 15px;
      margin-right: 40px;
      -webkit-transition: all 0.5s ease-in-out 0s;
      -moz-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s;
      &:hover, &:active {
        background: @brand-primary;
        a {
          color: #fff;
        }
      }
      a {
        color: @brand-info;
        text-decoration: none;
      }
    }
    li.article-menu-item-1 {
      width: 103px;
    }
    li.article-menu-item-2 {
      width: 73px;
    }
    li.article-menu-item-3 {
      width: 80px;
    }
    li.article-menu-item-4 {
      width: 96px;
    }
    li.article-menu-item-5 {
      width: 105px;
    }
  }
}
.article-item {
  margin-bottom: 60px;
  &:last-child {
    margin-bottom: 30px;
  }
  hr {
    background: @brand-primary;
    width: 43px;
    height: 1px;
    position: relative;
    right: 100%;
    margin-right: -43px;
  }
  h2 {
    margin-top: 0;
  }
  p {
    margin-bottom: 20px;
  }
}
.article-date {
  color: #000;
  margin-bottom: 20px;

}
.article-img {
  margin-bottom: 20px;
}
.article-comments {
  background: url(..images/comments.png) no-repeat;
  padding-left: 20px;
  position: relative;
  top: 15px;
}
.page-list {
  color: @brand-info;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}